
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
}
html{
  
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*,*:before,*:after{box-sizing: inherit;}

h3,h2,h1{
  background: linear-gradient(100deg,rgb(135, 135, 192),var(--subtitle));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}




:root{
  --primary:#000;
  --secondary :rgb(24 24 27);
  --border:rgba(63,63,70,0.4);

  --title:rgb(244 244 245);
  --subtitle:rgb(161 161 170);
  --bgcHeader:rgb(39,39,42);
  --blue:rgb(93,188,252);
  --icon-hover:#d4d4d8;

  --container-padding:4.8rem;
}
.light{
    --primary:rgb(250 255 250);
    --secondary :rgb(255 255 255);
    --border:rgba(202,202,202,0.518);
    --title:rgb(39 39 42);
    --subtitle:rgb(82 82 91);
    --bgcHeader:rgb(253 253 253);
    --blue:rgb(0,149,246);
    --icon-hover:#333;
    

 
}

body{
  background-color: var(--primary);
  color: #fff;
}

.container{
  border:2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding : 0 var(--container-padding);

}

.divider{
  border-bottom : 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(-1*var(--container-padding));
}

li{
  list-style: none;

}
a{
  all:unset;
  transition: 0.2s;
}
a:hover{
  cursor: pointer;
}
.flex{
  display:flex;
  align-items: center;

}

.border{
  border: 2px solid red;
}

button{
  all:unset;
}

button:hover{
  cursor:pointer;
}

button:active{
  scale:0.9;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;         /* full screen */
  background: #111;      /* dark background */
  color: #fff;           /* white text */
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.loading span {
  animation: fade 2.5s infinite;
}

@keyframes fade {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}


.scroll2Top{
  background-color: rgba(25,118,210,0.85);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
  font-size: 1.25rem;

}



.scroll2Top:hover{
  background-color: rgb(25,118,210);

}



@media(max-width:1000px){
  .container{
    --container-padding:1.7rem.
    width: 90%;
    padding:0 var(--container-padding);
  }

  .divider{
  width: calc(100% + var(--container-padding) +var(--container-padding));
  margin-left: calc(-1*var(--container-padding));

}
}

@media(max-width:600px){
  .container{
    width: 98%;
    padding:0 var(--container-padding);

  }
  .scroll2Top:hover{
    width: 2.2rem;
    height: 2.2rem;
    opacity:0.5 ;
    font-size: 1rem;
  }
  

}

