

section.hero{
    margin-top: 3rem;
}


/* left section */
section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.5rem;
    min-height:90px;

}

section.hero .left-section{
    flex-grow: 1;
    gap: 0.6rem;
}

section.hero .icon-verified{
    color:var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}


section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 1px ;
    box-shadow: 2px 2px 40px rgba(203,200,200,0.58) inset;
    
}


section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
    
    
}

section.hero p.sub-title{
    color:var(--subtitle);
    font-size: 1rem;
    line-height:1.5rem ;
    margin-bottom: 32px;

}

section.hero .all-icons{
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
    
}

section.hero .all-icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color:var(--icon-hover) ;
}


/*Right section (Animation) */

section.hero .animation{
    width:100%;
    translate: 100px 55px ;

}

@media (max-width:1000px){
    section.hero .animation{
        display: none;
    } 
    section.hero h1.title{
        text-align: center;
    }

}